
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Navigate Stress Tester </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }


      </script>

       <style>

        body {
            background-color: #2d3748; /* Dark gray background color */
            /* color: #cbd5e0; Light gray text color */
        }
      </style>
    

</head>

<body class="text-gray-300 grid grid-cols-2"> <!-- Use the grid system to create two columns -->

    <div id="app" class="container mx-auto p-4 col-span-1"> <!-- Use col-span-1 to specify the width of the first column -->

        <h1 class="text-2xl font-bold mb-4">Navigate API Stress Tester</h1>

                 <form id="optionsForm" class="" width="100%" @submit.prevent="runTest">
                    
                    <label for="api" class="block text-sm font-medium text-white-600">Endpoint:</label>

                    <div class="mb-4 flex items-center">
                      
                        <!-- Add-on field -->
                        <div class="p-2 bg-gray-200 rounded-l-md text-gray-800">
                          <select v-model="formData.endpointProtocol" id="endpointProtocol">
                            <option value="https://">https://</option>
                            <option value="http://">http://</option>
                            <option value="ssl://">ssl://</option>
                          </select>
                        </div>
                        <!-- Use v-model for two-way data binding -->
                        <input v-model="formData.api" type="text" id="api" name="api" class="mt-1 p-2 border rounded-md w-full text-gray-800">
                    </div>
                
                    <div class="mb-4">
                        <label for="numUsers" class="block text-sm font-medium text-white-600">No. of Users:</label>
                        <input type="number" v-model="formData.numUsers" id="numUsers"  name="numUsers" class="mt-1 p-2 border rounded-md w-full text-gray-800">
                    </div>

                  
                    <label for="numIntervals" class="block text-sm font-medium text-white-600">Intervals:</label>

                    <div class="mb-4 flex items-center">
                         <input type="number" v-model="formData.numIntervals"   id="numIntervals" name="numIntervals" class="mt-1 p-2 border rounded-md w-full text-gray-800">
                      
                        <div class="p-2">  
                          <select v-model="formData.intervalType" id="intervalType" name="intervalType" class="mt-1 p-2 border rounded-md w-full text-gray-800">
                            <option value="seconds">seconds</option>
                            <option value="minutes">minutes</option>
                            <option value="hours">hours</option>
                          </select>
                        </div>

 
                      <!-- <div class="span">
                        <select v-model="formData.intervalType" id="intervalType" name="intervalType" class="mt-1 p-2 border rounded-md w-full text-gray-800">
                          <option value="seconds">seconds</option>
                          <option value="minutes">minutes</option>
                          <option value="hours">hours</option>
                        </select>
                      </div> -->
                    
                    </div>

                    <label class="block text-sm font-medium text-white-600">Duration:</label>

                    <div class="mb-4 flex items-center">
                  
                      <input type="number" v-model="formData.duration" name="duration" id= 'duration' class="mt-1 p-2 border rounded-md w-full text-gray-800">
                     
                      <div class="p-2">  
                        <select v-model="formData.durationType" id="durationType" name="durationType" class="mt-1 p-2 border rounded-md w-full text-gray-800">
                          <option value="seconds">seconds</option>
                          <option value="minutes">minutes</option>
                          <option value="hours">hours</option>
                        </select>
                      </div>

                    </div>

                  <div class="mb-4">
                      <label for="numIterations" class="block text-sm font-medium text-white-600">Iterations:</label>
                      <input type="number" v-model="formData.numIterations" id="numIterations"  name="iterations" class="mt-1 p-2 border rounded-md w-full text-gray-800">
                  </div>


                  <div class="mb-4">
                  
                  <label class="block text-sm font-medium text-white-600">Payload:</label>
                        <input type="file" v-model="formData.payload" @change="handleFileUpload"  id="fileUpload" name="fileUpload" class="mt-1 p-2 border rounded-md mb-2">
                        <textarea id="payloadTextarea" v-model="formData.payload"  name="payloadTextarea" class="p-2 border rounded-md w-full text-gray-800" placeholder="Or enter payload here..."></textarea>
                    </div>
                    <button type="button" id='run-test' class="bg-blue-500 text-white p-2 rounded-md">Run Test</button>
                    <button type="button" id='stop-test' class="bg-red-500 text-white p-2 rounded-md">Stop Test</button>
                </form>
            
            </div>

 
            <div class="container mx-auto p-4 col-span-1" id="logs-container"> <!-- Use col-span-1 to specify the width of the second column -->
                <h2 class="text-xl font-bold mb-4">Test Results</h2>
                <table class="min-w-full border rounded-md overflow-hidden table-auto" >
                  <thead class="bg-gray-800 text-white">
                    <tr>
                      <th class="py-2 px-4">User ID</th>
                      <th class="py-2 px-4">Success Count</th>
                      <th class="py-2 px-4">Fail Count</th>
                    </tr>
                  </thead>
                  <tbody id="dataTableBody">
                    <!-- Data will be added dynamically here -->
                  </tbody>
                </table>
              </div>
            </div>

</body>

<footer>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
   
    <script src="coordinatesData-100.json"></script>

    <script>
  
        var user_number;
  
        var stg_url = "api-stg.odekake-ev.com";
        
        var move_history_batch_url = '/api/move_history_batch_test/';
        var sec = 1000;
        var minutes = sec * 60;
        var hours = minutes * 60;
  

        function getTimeTypeValue(timeType){
            
            switch(timeType) {
                
                case 'seconds':
                    timeTypeVal = sec;
                    break;
                
                case 'minutes':
                    timeTypeVal = minutes;
                    break;
                
                case 'hours':
                    timeTypeVal = hours;
                    break;
    
            }
    
            return timeTypeVal;
        }

    </script>
    
    <script src="stressTester_jquery.js" type="text/javascript"></script>
 
    <!-- vue js -->

    <!-- <script src="stressTester_vue.js" type="text/javascript"></script> -->

</footer>

</html>

